MsgBox1/.vs 
FirstEx/.vs
FirstProject/.vs 
MouseMFC/.vs 
SecondProject/.vs 
MsgBox2/.vs 
MessageBoxes/.vs 
MClock/.vs 
DateTime/.vs 
Calc/.vs 
CalcEx/.vs 
BubbleSort/.vs 
ClassAdd1/.vs 
ClassAdd2/.vs 
MultiClasses/.vs 
Drawing1/.vs 
Drawing2/.vs 
SEditGraphic/.vs 
SDrawing/.vs 
MDrawing/.vs 
MBmp/.vs 
WinProExe/.vs 
Enrollment/.vs 
ListBoxMenu/.vs 
MonthCalendar/.vs 
DTPicker/.vs 
RGBSlide/.vs 
TAB_AREA/.vs 
